<a href="https://colab.research.google.com/github/roygbivdilaz/Course-Materials/blob/master/groupPro3IST210.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
%load_ext sql
%sql sqlite:///RJCdatabase.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @RJCdatabase.db'

In [87]:
%%sql
DROP TABLE IF EXISTS PersonalizedProfiles;
create table PersonalizedProfiles (profileID text primary key, firstName text, lastName text, locationData text, shippingID text, transactions int);

DROP TABLE IF EXISTS Shipping;
create table Shipping (shippingID text primary key, profile text, streetAddress text, zipCode text, state text);

DROP TABLE IF EXISTS Purchasing;
create table Purchasing(transactionID text primary key, paymentMethod text, shippindID text, price real, quantityBought int);

DROP TABLE IF EXISTS Advertisements;
create table Advertisements(advertisementID text primaryKey, adType text, adDecription text, profileID text, employeeID text);

DROP TABLE IF EXISTS Inventory;
create table Inventory(inventoryID text primary key, size text, quantityStock int, typeOfClothing text);

DROP TABLE IF EXISTS Employee;
create table Employee(employeeID text primary key, firstName text, lastName text, jobtitle text);

DROP TABLE IF EXISTS Headquarters;
create table Headquarters(headquartersID text primary key, location text, employee text);

 * sqlite:///RJCdatabase.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [88]:
%%sql

insert into PersonalizedProfiles values ('001', 'John', 'Brown', '04321', 'JB001', '3');
insert into PersonalizedProfiles values ('002', 'Alex', 'Johnson', '02348', 'AJ001', '2');
insert into PersonalizedProfiles values ('003', 'Joe', 'Swanson', '04582', 'JS001', '5');
insert into PersonalizedProfiles values ('004', 'Tiffany', 'Gale', '04583', 'TG001', '7');
insert into PersonalizedProfiles values ('005', 'Emily', 'Kelly', '02748', 'EK001', '4');

insert into Shipping values('0001', '354', 'Apple Street', '47893', 'PA' );
insert into Shipping values('0002', '594', 'Highland Ave', '42193', 'PA' );
insert into Shipping values('0003', '854', 'High Street', '42353', 'VA' );
insert into Shipping values('0004', '148', 'Mountain Street', '44563', 'VA' );
insert into Shipping values('0005', '234', 'Oakland Ave', '14354', 'MA' );

insert into Advertisements values ('001A', 'Social Media', 'Instagram', '10121', 'EP01');
insert into Advertisements values ('002A', 'Physical', 'Fliers', '10035', 'EP02');
insert into Advertisements values ('003A', 'Social Media', 'Twitter', '10067', 'EP03');
insert into Advertisements values ('004A', 'Physical', 'Posters', '10032', 'EP04');
insert into Advertisements values ('005A', 'Social Media', 'Instagram', '10063', 'EP05');

Insert into Inventory values('0001','Medium', 55, 'Long sleeve');
Insert into Inventory values('0002','Small', 43, 'Short sleeve');
Insert into Inventory values('0003','Large', 71, 'Jackets');
Insert into Inventory values('0004','Large', 77, 'Shorts');
Insert into Inventory values('0005','Medium', 62, 'Hoodies');

insert into Employee values('00001', 'Abigail', 'Pierce', 'Sales');
insert into Employee values('00002', 'Thomas', 'Lawrence', 'Marketing');
insert into Employee values('00003', 'Richard', 'Price', 'Sales');
insert into Employee values('00004', 'John', 'Goldstein', 'Sales');
insert into Employee values('00005', 'Timothy', 'Heeran', 'Marketing');


insert into Headquarters values ('EC01', 'East Coast',  'Ron Kalisnky');
insert into Headquarters values ('WC01', 'West Coast', 'Eliot Gunderson');
insert into Headquarters values ('WC02', 'West Coast', 'Matteas Mitchell');
insert into Headquarters values ('EC02', 'East Coast', 'Louis Osadchey');
insert into Headquarters values ('EC03', 'East Coast', 'Paul Jordan');

 * sqlite:///RJCdatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

![erDiagram](https://raw.githubusercontent.com/roygbivdilaz/Course-Materials/master/Images/GroupAssignment2.png)

In [100]:
%%sql
select count(location) from Headquarters where location = 'East Coast' limit 5

 * sqlite:///RJCdatabase.db
Done.

[(3,)]

 One question that companies may need to keep track of as they grow is where their employees are distributed. Our theoretical company has two Headquarters, one on the East and West Coast. If an employee wanted to look and compare which headquarters has more employees, this is how it would be done.

In [103]:
%%sql
select * from Inventory Order by quantityStock DESC

 * sqlite:///RJCdatabase.db
Done.

[('0004', 'Large', 77, 'Shorts'),
 ('0003', 'Large', 71, 'Jackets'),
 ('0005', 'Medium', 62, 'Hoodies'),
 ('0001', 'Medium', 55, 'Longsleeve'),
 ('0002', 'Small', 43, 'Short sleeve')]

This query helps to return our inventory from most in stock to the least amount in stock. This can be helpful for our employees in regards to product ordering. Our employees can see the inventory and order more or less of a product depending on how many we have in stock. So in this example we will order less shorts and more short sleeve shirts.

In [109]:
%%sql
select adtype,count(adType) from Advertisements group by adtype

 * sqlite:///RJCdatabase.db
Done.

[('Physical', 2), ('Social Media', 3)]

When keeping track of the advertisements created by RJC, knowing how many physical advertisements (billboards, fliers, etc) and social media advertisements would be good information to have. This information would allow us to know what adtype we should create next so that we can maintain an equal amount of physical and social media advertisements.